<!doctype html5>
<html>
	<head>
		<title>
			<%= title%>
		</title>
	</head>
	<meta charset="utf-8">

	<%include header%>
	<style type="text/css">
		:root, body{
			width: 100%;
			height: 100%;
		}
	</style>
	<body id="app">
		<%include nav%>
		<div ng-view></div>
	</body>
	<script type="text/javascript">
	</script>
</html>