<div class='z'>
<div class='f1 red'></div>
<div class='l1 red'></div>
<div class='c1 red'></div>
<div class='c1-1'></div>
<div class='l2 red'></div>
<div class='r'>
	<div class='ro'>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
	</div>
	<div class='ro'>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
	</div>
	<div class='ro'>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
	</div>
	<div class='ro'>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
	</div>
	<div class='ro'>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
		<div class='b red'></div>
	</div>
</div>
<div class='l3 red'></div>
<div class='c2 red'></div>
<div class='l4 red'></div>
<div class='c3 red'></div>
<div class='c4 red'></div>
<div class='k red'></div>
<div class='k1 red'></div>
<div class='s'>
	<div class='ss red'></div>
	<div class='ss red'></div>
	<div class='ss red'></div>
	<div class='ss red'></div>
	<div class='ss red'></div>
	<div class='ss red'></div>
</div>
<div class='i1'></div>
<div class='i2'></div>
<div class='m'>
	<div class='rx'>
		<div class='rb-space'></div>
	</div>
	<div class='rx'>
		<div class='rb'></div>
	</div>
	<div class='rx'>
		<div class='rb'></div>
	</div>
	<div class='rx'>
		<div class='rb'></div>
	</div>
	<div class='rx'>
		<div class='rb-space'></div>
	</div>
</div>
<div class='n'>
	<div class='rx'>
		<div class='rb-space'></div>
	</div>
	<div class='rx'>
		<div class='rb'></div>
	</div>
	<div class='rx'>
		<div class='rb'></div>
	</div>
	<div class='rx'>
		<div class='rb'></div>
	</div>
	<div class='rx'>
		<div class='rb-space'></div>
	</div>
</div>
</div>