
<style type="text/css">
.z{
	width:140px;
	height: 400px;
	left: 400px;
	position: absolute;
	z-index: 1000;
	display: none;
	opacity: 0;
	-webkit-transition:opacity 0.5s ease-in;
	-moz-transition:opacity 0.5s ease-in;
	-ms-transition:opacity 0.5s ease-in;
	-o-transition:opacity 0.5s ease-in;
	transition:opacity 0.5s ease-in;
}
.z div{
	position: absolute;
	
}
.z .red{
	background-color: red;
}
.f1{
	width: 12px;
	height: 12px;
	-webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
	top:0;
	border-radius: 2px;
}
.l1,.l2,.l3,.l4{
	width:2px;
	height: 10px;
}
.c1{
	width:10px;
	height: 10px;
	border-radius: 7px;
}
.r{
	width:62px;
	height: 60px;
	-webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.r .ro{
	position: relative;
	display: table;
	border-collapse:separate;
	border-spacing: 1px;
}
.r .b{
	width:11px;
	height: 10px;
	position: relative;
	display: table-cell;
	border-radius: 2px;
}
.c2{
	width:10px;
	height: 10px;
	border-radius: 5px;
}
.c3{
	width:10px;
	height: 10px;
	border-radius: 5px 5px 0 0;
}
.c4{
	width:12px;
	height: 12px;
	border-radius: 6px;
}
.k{
	width: 10px;
	height: 12px;
}
.k1{
	width: 14px;
	height: 6px;
}
.s{
	height: 120px;
	display: table;
	border-collapse:separate;
	border-spacing: 1px;
}
.ss{
	width: 1px;
	height: 100%;
	position: relative !important;
	display: table-cell;
}
.i1 {
    position: relative;
    width: 130px;
    height: 38px;
}
 
.i1:before,
.i1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 36px;    
    border: 3px solid red;
	border-radius:50%   50%  50%  50%  / 40%   40%   60%  60%;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
 
.i1:after,.i2:after {
    left: auto;
    right: 0;
    border-radius:50%   50%  50%  50%  / 60%   60%   40%  40%;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
} 
.i2 {
    position: relative;
    width: 106px;
    height: 22px;
}
.i2:before,
.i2:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 20px;    
    border: 2px solid red;
    border-radius:50%   50%  50%  50%  / 40%   40%   60%  60%;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
 
.i2:after {
    left: auto;
    right: 0;
    border-radius:50%   50%  50%  50%  / 60%   60%   40%  40%;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}  
.e1 {
    position: relative;
    width: 12px;
    height: 24px;
}
.e1:before,
.e1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 20px;    
    border: 2px solid red;
    border-radius:50%   50%  50%  50%  / 40%   40%   60%  60%;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
} 
</style>
<div class='z'>
	<div class='f1 red'></div>
	<div class='l1 red'></div>
	<div class='c1 red'></div>
	<div class='l2 red'></div>
	<div class="r">
		<div class='ro'>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
		</div>
		<div class='ro'>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
		</div>
		<div class='ro'>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
		</div>
		<div class='ro'>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
		</div>
		<div class='ro'>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
			<div class='b red'></div>
		</div>
	</div>
	<div class='l3 red'></div>
	<div class='c2 red'></div>
	<div class='l4 red'></div>
	<div class='c3 red'></div>
	<div class='c4 red'></div>
	<div class='k red'></div>
	<div class='k1 red'></div>
	<div class='s'>
		<div class='ss red'></div>
		<div class='ss red'></div>
		<div class='ss red'></div>
		<div class='ss red'></div>
		<div class='ss red'></div>
		<div class='ss red'></div>
		<div class='ss red'></div>
	</div>
	<div class='i1'></div>
	<div class='i2'></div>
</div>