<nav class="navbar navbar-default navbar-static-top navbar-transparent">
  <div class="container">
  	<div class="row">
  		<div class='col-md-2 text-left'>
  			<a class="navbar-brand" href="/">PILI FM</a>
  		</div>
  		<div class='col-md-6 text-left'>
  		</div>
  		<div class='col-md-4 text-right'>
  			<form class="navbar-form navbar-right has-feedback" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control keywords" id="keywords" placeholder="单曲/歌手/专辑">
				      <span class="glyphicon glyphicon-search form-control-feedback keywords-feedback"></span>
		        </div>
	      	</form>
  		</div>
  	</div>
  </div>
</nav>