<!doctype html5>
<html>
	<head>
		<title>
			<%= title%>
		</title>
	</head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bower_components/css-reset/reset.css">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app/search.css">
	<script type="text/javascript" data-main="src/app/search-include" src="bower_components/requirejs/require.js"></script>

	<style type="text/css">
		:root, body{
			width: 100%;
			height: 100%;
		}
	</style>
	<body>
		<%include nav%>
		<div class="container main">
			<div class="row">
				<div class='col-md-4'>
					<div class='list-cata'>
						单曲
					</div>
				</div>
				<div class='col-md-4'>
					<div class='list-cata'>
						歌手
					</div>
				</div>
				<div class='col-md-4'>
					<div class='list-cata'>
						专辑
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-4'>
					<ul class='list-panel'></ul>
				</div>
				<div class='col-md-4'>
					<ul class='list-panel'></ul>
				</div>
				<div class='col-md-4'>
					<ul class='list-panel'></ul>
				</div>
			</div>
		</div>
	</body>
</html>