<div ng-controller="UsermenuController">
	<aside id="left-panel">
	    <div class="login-info">
					<span>
						<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
							<span>
								{{loginUser.realName}}
							</span>
	                    </a>

					</span>
	    </div>
	    <usermenu data="menuData" root-path="rootPath"></usermenu>

		<span class="minifyme" minify-menu>
		    <i class="fa fa-arrow-circle-left hit"></i>
	    </span>


	</aside>
</div>

<div id="main" role="main">
    <!-- RIBBON -->
	<ribbon/>
	<!-- END RIBBON -->
    <div class="col-sm-12" style="margin-top:10px;">
    	
		<fake-page link="src/system/module/home/home.html" ng-if="'home'===module"></fake-page>
    	
		<fake-page link="src/system/module/music/music.html" ng-if="'music'===module"></fake-page>
		<fake-page link="src/system/module/music/music-info.html" ng-if="'music/new'===module || 'music/edit'===module"></fake-page>
		<fake-page link="src/system/module/music/music-mp3.html" ng-if="'music/mp3'===module"></fake-page>
		
    </div>
</div>