.music-ul{
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	width : 100;
	height: 100%;
}
.music-ul>li{
	width:80px;
	height: 80px;
	border-radius: 50%;
	background-color: #555555;
	opacity: .9;
}