/* 
	author: huanghaiyang 
	description: 调整页面整体样式; 
*/
.fa-fixed-valign{
	margin-top: 10px !important;
}
.fa{
	margin-top: 5px;
	font-size: small
}
.btn.btn-ribbon>i {
	font-size: small;
	margin-top: 3px !important;
}

/* 信息添加页面样式调整 */
.form-group{
	margin-bottom:0;
}

.validation-errors{
	color: red;
}