.bk{
	background-size: 100%;
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	width:100%;
}
.navbar-transparent{
	background-color: transparent;
	border: none;
}
.music-ul{
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	width : 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased
	-ms-font-smoothing: antialiased
	-o-font-smoothing: antialiased
	font-smoothing: antialiased
}

.music-ul>li{
	position: absolute;
	width:100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	overflow: hidden;
	background-color: #000000;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
	z-index: 100;
}
.music-ul>li:hover,.music-ul>li.active{
	box-shadow: 0px 0px 10px 0 #26C5CB;
}

.music-ul>li>.box{
	width: 94%;
	height: 94%;
	top:3%;
	left:3%;
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-o-perspective: 800;
	perspective: 800; 
}

.music-ul>li>.box>.rotation{
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.music-ul>li>.box>.rotation>img{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.7;
	-webkit-backface-visibility: hidden ;
	-moz-backface-visibility: hidden ;
	-o-backface-visibility: hidden ;
	backface-visibility: hidden ;
	-webkit-transition:background-color 0.3s ease-in-out,opacity 0.3s ease-in-out,width 0.3s ease-in-out,height 0.3s ease-in-out,top 0.3s ease-in-out,left 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out,opacity 0.3s ease-in-out,width 0.3s ease-in-out,height 0.3s ease-in-out,top 0.3s ease-in-out,left 0.3s ease-in-out;
	-ms-transition:background-color 0.3s ease-in-out,opacity 0.3s ease-in-out,width 0.3s ease-in-out,height 0.3s ease-in-out,top 0.3s ease-in-out,left 0.3s ease-in-out;
	-o-transition:background-color 0.3s ease-in-out,opacity 0.3s ease-in-out,width 0.3s ease-in-out,height 0.3s ease-in-out,top 0.3s ease-in-out,left 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out,opacity 0.3s ease-in-out,width 0.3s ease-in-out,height 0.3s ease-in-out,top 0.3s ease-in-out,left 0.3s ease-in-out;
}
.music-ul>li>.box>.rotation>img:hover,.music-ul>li>.box>.rotation>img.active{
	opacity: 1;  
}
.music-ul>li>.box>.rotation>img:hover{
	top:-10%;
	left: -10%;
	width:120%;
	height: 120%;
}
.refresh-btn{
	position: absolute;
	width:14px;
	height: 16px;
}

.glyphicon,.music-title{
	cursor: pointer;
	-webkit-transition:color 0.3s ease-in-out;
	-moz-transition:color 0.3s ease-in-out;
	-ms-transition:color 0.3s ease-in-out;
	-o-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}

.glyphicon:hover,.music-title:hover{
	color:#26C5CB;
}

.play-row{
	height:50px;
	line-height:50px;
}
.play-col{
	height:50px;
	line-height:50px;
}
.play-btn,.list-btn{
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}
.play-btn:hover,.list-btn:hover{
	opacity: 1;
}
.play-btn .glyphicon,.list-btn .glyphicon{
	font-size: 16px;
	top: 0;
}
.play-btn-play .glyphicon{
	font-size: 24px;
}
.play-btn-backward .glyphicon,.play-btn-forward .glyphicon{
	font-size: 16px;
}
.list-btn-volume .glyphicon{
	font-size: 20px;
}

.music-thumb{
	width: 44px;
	height: 44px;
	margin-top:3px; 
	border-radius: 5px;
}
.music-thumb:hover{
	opacity: 1.1;
}
.music-title{
	margin-top: 3px;
}
.play-btn,.list-btn,.music-thumb{
	opacity: 0.8;
	-webkit-transition:opacity 0.05s ease-in-out;
	-moz-transition:opacity 0.05s ease-in-out;
	-ms-transition:opacity 0.05s ease-in-out;
	-o-transition:opacity 0.05s ease-in-out;
	transition:opacity 0.05s ease-in-out;
}

.volume-bar{
	vertical-align: middle;
	display: inline-block;
  	text-align: center;
  	width:120px;
  	height: 8px;
  	background-color: white;
  	border-radius: 4px;
  	box-shadow: 0 0 1px 0 #000;
  	position: relative;
}
.volume-bar .volume-circle{
	height: 14px;
	width: 14px;
	border-radius: 50%;
	top:-3px;
	left:0;
	box-shadow: inset 0 0 7px 0 #FCFCFC;
	position: absolute;
	background-color: white;
	cursor: pointer;
}
.volume-bar .volume-circle::after{
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 1px 0 #000;
}