body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-user-select:   none;
  -moz-user-select:   none;
  -ms-user-select:   none;
  -o-user-select:   none;
  user-select:   none;
}

a {
  color: #00B7FF;
}

.keywords{
  border-radius: 20px;
  padding-right: 6px !important;
  padding-left: 42.5px;
}

.keywords-feedback{
  right: auto;
}